@model HeadHunter.Models.Entity.Account
@{
    ViewBag.Title = "SendMail";
    Layout = "~/Views/Shared/_LayoutWithoutLogin.cshtml";
}

<h1>Send mail</h1>
<html>

<body>
    <div class="form-group">
        <p class="alert-success">Mail Sent Successfully</p>

        <a href="/Employer/Search/" class="btn btn-success">Ok</a>
    </div>
    


    @*@using (Html.BeginForm("SendMail", "Employer", FormMethod.Post))
            {
        <div class="form-group">
            @Html.LabelFor(m=>m.AccountFullName)
            @Html.TextBox("Text")
            <br />
            <input type="submit" value="Send Parameter" />
        </div>

            }*@

</body>
</html>

